.cb-title13 {
    padding-top: 50px;
}

.cb-content46 {
    padding-top: 0;
    border-top-style: none;
}

a {
    color: #336699;
}

p {
    font-size: 17px;
}

.cb-header34 .content h2 {
    color: #ffffff;
    font-size: 30px;
    overflow: hidden;
    text-align: center;
    font-weight: 300;
}